* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --sidebar-bg: #1d4ed8;
    --search-bar: rgb(236, 236, 236);
    --card-shadow: 3px 5px 8px rgb(197, 196, 196);
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    cursor: pointer;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
sidebar {
    padding: 15px;
    display: grid;
    grid-row: 1/-1;
    grid-template-rows: repeat(3, min-content);
    gap: 60px;
    background-color: var(--sidebar-bg);
}
sidebar div {
    align-items: center;
}
sidebar div svg {
    width: 50px;
    height: auto;
    fill: white;
}
sidebar nav ul,
sidebar div {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
}
sidebar nav ul {
    list-style-type: none;
}
sidebar nav ul svg {
    width: 2rem;
    height: auto;
    grid-column: 1;
    fill: white;
}
sidebar nav ul li {
    font-size: 1.8rem;
    grid-column: 2;
    transition: all 0.5s ease-in-out;
}
sidebar nav ul li:hover {
    transform: translate(20px, 0);
}
.sidebar-logo,
sidebar nav ul li {
    color: white;
}
header {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    gap: 20px;
    box-shadow: 0 0px 10px grey;
    z-index: 1;
}
.search {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
}
.search img {
    max-width: 30px;
}
#search-bar {
    max-height: 1.9rem;
    background-color: var(--search-bar);
    border: none;
    border-radius: 1rem;
    padding-left: 1rem;
}
.user {
    grid-row: 2;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: end;
    gap: 10px;
}
#doug,
#doug-small {
    max-width: 100px;
    background-color: red;
    border-radius: 50%;
    object-fit: cover;
    object-position: 8px;
}
#doug-small {
    max-width: 50px;
    grid-column: 2;
    object-position: 4px;
}
.user-right {
    display: grid;
    grid-template-columns: 30px repeat(2, min-content);
    align-items: center;
    gap: 20px;
    justify-content: end;
}
#bell-icon {
    max-width: 25px;
    grid-column: 1;
}
.user-right h2 {
    font-size: 1.3rem;
    grid-column: 3;
}
.user h2 {
    grid-column: 2;
}
.buttons {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: min-content;
    gap: 1rem;
    justify-content: end;
    align-content: end;
}
.buttons button {
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    border: 2px solid var(--sidebar-bg);
    background-color: var(--sidebar-bg);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover {
    background-color: white;
    color: var(--sidebar-bg);
    cursor: pointer;
}
#new {
    grid-column: 1;
}
#upload {
    grid-column: 2;
}
#share {
    grid-column: 3;
}
.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    padding: 30px;
    background-color: var(--search-bar);
    gap: 10px;
}
.projects {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    overflow: scroll;
    gap: 20px;
    padding: 10px 0 0 10px;
}
.cards {
    height: 250px;
    width: 400px;
    padding: 25px;
    background: linear-gradient(to right, orange 10px, white 10px);
    border-radius: 8px;
    box-shadow: var(--card-shadow);
    display: grid;
}
.text {
    grid-row: 1;
}
.text h4 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.text p {
    font-size: 1.2rem;
}
.icons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 15px;
    justify-content: end;
    align-content: end;
}
.icons svg {
    height: 30px;
    width: auto;
}
h3.announcements {
    grid-column: 2;
}
div.announcements,
div.trending {
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--card-shadow);
}
.announce-container {
    display: grid;
    gap: 10px;
    height: min-content;
}