* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    cursor: pointer;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}
sidebar, 
header, 
.content {
    border: 1px solid black;
}
sidebar {
    padding: 15px;
    display: grid;
    grid-row: 1/-1;
    grid-template-rows: repeat(3, min-content);
    gap: 60px;
}
sidebar div img {
    max-width: 2.5rem;
}
sidebar nav ul,
sidebar div {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 8px;
}
sidebar nav ul {
    list-style-type: none;
    align-items: end;
}
sidebar nav ul img {
    max-width: 2rem;
    grid-column: 1;
}
sidebar nav ul li {
    font-size: 1.8rem;
    grid-column: 2;
}