* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    cursor: pointer;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
sidebar, 
header, 
.content {
    border: 1px solid black;
}
sidebar {
    padding: 15px;
    display: grid;
    grid-row: 1/-1;
    grid-template-rows: repeat(3, min-content);
    gap: 60px;
}
sidebar div img {
    max-width: 2.5rem;
}
sidebar nav ul,
sidebar div {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 8px;
}
sidebar nav ul {
    list-style-type: none;
    align-items: end;
}
sidebar nav ul img {
    max-width: 2rem;
    grid-column: 1;
}
sidebar nav ul li {
    font-size: 1.8rem;
    grid-column: 2;
}
header {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    gap: 20px;
}
.search {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
}
.search img {
    max-width: 30px;
}
#search-bar {
    max-height: 1.9rem;
    background-color: rgb(208, 208, 208);
    border: none;
    border-radius: 1rem;
    padding-left: 1rem;
}
.user {
    grid-row: 2;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: end;
    gap: 10px;
}
#doug,
#doug-small {
    max-width: 100px;
    background-color: red;
    border-radius: 50%;
    object-fit: cover;
    object-position: 8px;
}
#doug-small {
    max-width: 50px;
    grid-column: 2;
    object-position: 4px;
}
.user-right {
    display: grid;
    grid-template-columns: 30px repeat(2, min-content);
    align-items: center;
    gap: 20px;
    justify-content: end;
}
#bell-icon {
    max-width: 25px;
    grid-column: 1;
}
.user-right h2 {
    font-size: 1.3rem;
    grid-column: 3;
}
.user h2 {
    grid-column: 2;
}
.buttons {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: min-content;
    gap: 1rem;
    justify-content: end;
    align-content: end;
}
.buttons button {
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: none;
}
#new {
    grid-column: 1;
}
#upload {
    grid-column: 2;
}
#share {
    grid-column: 3;
}